.image{
  height:60em; background-size:cover; width:100%;
  background-image:url('https://www.teahub.io/photos/full/262-2628796_pizza-margarita-fast-food-pizza-with-vegetables.jpg');
  background-position:50% 50%;
}
